html, body { height: 100%; }

#map, #side {
	float: left;
	height: 100%;
}

#map {
	width: 75%;
	background: #f2f2f2;
}

#side {
	width: 25%;
	padding: 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	position: fixed;
	right: 0;
	background: white;
}

#side li { cursor: pointer; }