<style>
.radio_box li  {
    display: block;
    float: left;
    margin-right:10px;
}
    
.radio_box li label {
    margin-left:5px;
}

.text-input1 {
    border-radius:0;
    display: block; 
    width: calc(100% - 40px);
    float: left;
}

.text-input2 {
    border-radius:0;
    display: block; 
    width: calc(100% - 90px);
    float: left;
}

.text-input {
    border-radius:0;
    display: block; 
    width: 100%;
}

.submit_btn {
    background-color: rgba(24,103,194,0.81);
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    padding: 4px 12px;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
}
.wickedpicker{
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
}

.marker {
    height: 30px;
    width: 20px;
    margin: 0 10px;
    float: left;
}

.right_btn {
    height: 30px;
    line-height: 23px;
    width: 83px;
    margin: 0;
    float: right;
}

input[type="text"] {
    border: #aaa 1px solid;    
}
/*
input[type="text"]:valid { outline: solid #ddd 1px; }
input[type="text"]:invalid { outline: solid red 1px; }
*/
</style>


<ons-navigator title="Navigator" var="homeNavigator">
    <ons-page style="background:#fff;">
    
        <ons-toolbar fixed-style>
            <!--
            <div class="left" style="line-height: 44px">
                <img src="images/logo.png" style="height:32px; margin-left:10px;" onClick="gotoPage1()"/>
            </div>
            -->
            <div class="center">
                <img src="images/go2gether.png" style="height:32px;"/>
            </div>
            <div class="right" style="line-height:44px;">
                <ons-toolbar-button ng-click="menu.toggleMenu()">
                    <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
            	</ons-toolbar-button>
            </div>
        </ons-toolbar>
      

        <div class="container">
           
            <!-- 一般共乘 begin -->
            <div id="normal" class="tab-pane fade in active">
                <form id="add" action="#">
                    <section style="padding: 8px 16px 4px 16px">
                        <div>設定共乘條件</div>
                    </section>
                    <section style="padding: 4px 16px; height: 38px;">
                        <img src="images/marker_green.png" onClick="addressClick()" class="marker"/><input type="text" class="text-input1" ng-model="address" placeholder="請輸入上車地址" id="address" required>
                    </section>
                    <section style="padding: 4px 16px; height: 38px;">
                        <img src="images/marker_red.png" onClick="destinationClick()" class="marker"/><input type="text" class="text-input1" ng-model="destination" placeholder="請輸入下車地址" id="destination" required>
                    </section>
                    <section style="padding: 4px 16px;">
                        <input id="datepicker" type="datetime-local" style="width:100%">
                    </section>
                    <div style="clear:both; height:0px"></div>
                    <section style="padding: 2px 16px 0 16px; display:inline-block; width:100%;">
                        <input type="text" class="text-input" ng-model="phones" placeholder="請輸入手機號碼" id="phones" pattern="^09\d{8}$" style="width:49%; float:left; margin-right:1%;">
                        <input type="text" class="text-input" ng-model="email" placeholder="請輸入電子信箱" id="email" style="width:49%; float:left; margin-left:1%;">
                    </section>
                    <section style="padding: 2px 16px">
                        <input type="text" class="text-input" ng-model="note" placeholder="其餘特殊需求備註" id="note">
                    </section>
            
                    <div style="clear:both; height:10px"></div>
            
                    <section style="padding: 0px 16px 0 16px" class="radio_box">
                        <div>請選擇您本次共乘目的</div>
                        <li><input type="radio" name="purpose" value="球賽共乘" id="purpose_games_radiio"><label>球賽共乘</label></li>
                        <li><input type="radio" name="purpose" value="通勤" required><label>通勤</label></li>
                        <li><input type="radio" name="purpose" value="認識朋友"><label>認識朋友</label></li>
                        <div style="clear:both;"></div>
                        <li><input type="radio" name="purpose" value="機場接送"><label>機場接送</label></li>
                        <li><input type="radio" name="purpose" value="其他" id="purpose_other_radiio"><label>其他<input id="purpose_other" type="text" style="width:160px; margin-left:10px; border:none; border-bottom:1px #000 dashed; outline:none;"/></label></li>
                    </section>
            
                    <div style="clear:both; height:5px"></div>
            
                    <section style="padding: 4px 16px" class="radio_box">
                        <input name="ck_1" type="checkbox" required/><span style="margin-left:5px"><span id="ck_1_span">我同意共乘車資依照跳錶金額平均分攤，並同意本活動之</span><a onClick="page7_click()" style="cursor: pointer;">服務條款</a>及<a onClick="page4_click()" style="cursor: pointer;">活動說明</a></span>
                    </section>
            
                    <section style="padding: 4px 16px" class="radio_box">                
                        <input type="submit" value="確定" class="btn btn-default submit_btn">
                    </section>
        		</form>
            </div>
            <!-- 一般共乘 end -->

        </div>
    </ons-page>
</ons-navigator>

<script>

    ons.ready(function() {

        setTimeout(function() {

            $("#event_div").hide();
            
            /*
            var f4_check = window.localStorage.getItem("f4");
            if(f4_check != null && f4_check == "機場共乘") {
               $("#airport_btn").click();
            }
            */

            //window.localStorage.setItem("facebook_id", "1389354124412945");
            //window.localStorage.setItem("facebook_name", "廖志旺");
            // 檢查 facebook 是否已登入
            if(window.localStorage.getItem("facebook_id") == "" || window.localStorage.getItem("facebook_id") == null ) {

                ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                    $('.alert-dialog-title').html("登入");
                    $('#alertDialogText').html("請先登入您的Facebook帳號");
                    $(".alert-dialog-button").attr("onclick","needLogin()");
                    alertDialog.show();
                });

                return;
            }

            // 檢查是否被禁止刊登
            is_fb_player_enable();
            
            
            // 自動代入現在時間
            var now = new Date();
            var hours = (now.getHours()<10?'0':'') + now.getHours();
            var minutes = (now.getMinutes()<10?'0':'') + now.getMinutes();
            var _m = Math.floor(now.getMonth() + 1);
            _m = (_m<10?'0':'') + _m;
            var _d = (now.getDate()<10?'0':'') + now.getDate();
            var today = now.getFullYear() + '-' + _m + '-' + _d + 'T' +  hours + ':' + minutes + ":00";
            console.log("today("+today+")");
            $('#datepicker').val(today);

            // for test
            /*
            window.localStorage.setItem("f1", "台中榮總");
            window.localStorage.setItem("f2", "201701010830");
            window.localStorage.setItem("f3", "早診");
            window.localStorage.setItem("f4", "台中榮總共乘");
            */
            
            if(window.localStorage.getItem("f1") != null && window.localStorage.getItem("f1") != "") {

                var f1 = window.localStorage.getItem("f1");
                var f2 = window.localStorage.getItem("f2");
                var f3 = window.localStorage.getItem("f3");
                var f4 = window.localStorage.getItem("f4");
                window.localStorage.setItem("f1", "");
                window.localStorage.setItem("f2", "");
                window.localStorage.setItem("f3", "");
                window.localStorage.setItem("f4", "");
                console.log("won test f1 =>" + f1);
                console.log("won test f2 =>" + f2);
                console.log("won test f3 =>" + f3);
                console.log("won test f4 =>" + f4);

                // 自動代入下車地點
                if(f1 != null && f1 != "null" && f1 != "") {

                    $('#destination').val(f1).focus();
                }

                // 自動代入備註
                if(f3 != null && f3 != "") {
    
                    $('#note').val(f3).focus();
                }

                // 自動代入共乘目的
                if(f4 != null && f4 != "") {

                    if(f4 =="球賽共乘") {
                        $("#purpose_games_radiio").prop("checked", true)
                    } else {
                        $("#purpose_other_radiio").prop("checked", true)
                        $('#purpose_other').val(f4).focus();
                    }
                }            

                // 自動代入共乘時間
                if(f2 != null && f2 != "") {

                    var yyyy = f2.substring(0,4);
                    var MM = f2.substring(4,6);
                    var dd = f2.substring(6,8);
                    var hh = f2.substring(8,10);
                    var mm = f2.substring(10,12);
                    //var now = new Date(yyyy,MM,dd,hh,mm,00);
                    var now = new Date(yyyy,MM,dd,hh,mm,00);
                    //console.log("yyyy("+yyyy+") MM("+MM+")now("+now+")");
                    
                    var hours = (now.getHours()<10?'0':'') + now.getHours();
                    var minutes = (now.getMinutes()<10?'0':'') + now.getMinutes();
                    var _m = (now.getMonth()<10?'0':'') + now.getMonth();
                    var _d = (now.getDate()<10?'0':'') + now.getDate();
                    var today = now.getFullYear() + '-' + _m + '-' + _d + 'T' +  hours + ':' + minutes + ":00";
                    //console.log("today("+today+")");
                    $('#datepicker').val(today);
                } 
            }

            // 自動代入 phones
            var my_phones = window.localStorage.getItem("phones");
            if(my_phones != null && my_phones != "") {
                $('#phones').val(my_phones).focus();
            }

            // 自動代入 email
            var my_email = window.localStorage.getItem("email");
            if(my_email != null && my_email != "") {
                $('#email').val(my_email).focus();
            }

            var latlng = window.localStorage.getItem("center");
            // 依經緯度查地址
            $.getJSON('https://maps.googleapis.com/maps/api/geocode/json', {
            		key: 'AIzaSyAHgoUk-vzZfk0CPhkOBNsX5fTyrCKVkh8',
        			latlng: latlng,
                    location_type: "ROOFTOP",
                    result_type: "street_address"
        		}, function(data) {

                    //console.log(data);
                    if(data.status != "ZERO_RESULTS") {
                        var formatted_address = data.results[0].formatted_address;
                        //console.log("formatted_address("+formatted_address+")");
                        $("#address").val(formatted_address).focus();
                    }
        		}
            );
            
            /*
            $("#datepicker").datepicker({ minDate: 0, maxDate: "+29D" });

            var d = new Date();
            var hours = d.getHours();
            var options = {
                now: hours+":00",
                minutesInterval: 15, //Change interval for minutes, defaults to 1
            };
            $('#timepicker').wickedpicker(options);
            */

            $('#ck_1_span').click(function() {

                var ck_1 = $('input[name=ck_1]:checked');
                if(ck_1.length > 0)     $('input[name=ck_1]').prop("checked", false);
                else                    $('input[name=ck_1]').prop("checked", true);
            });
            /*
            $('#ck_2_span').click(function() {

                var ck_2 = $('input[name=ck_2]:checked');
                if(ck_2.length > 0)     $('input[name=ck_2]').prop("checked", false);
                else                    $('input[name=ck_2]').prop("checked", true);
            });
            */
            isFirstTime = true;
            $('#add').on('submit', function() {

                if(window.localStorage.getItem("facebook_id") == "" || window.localStorage.getItem("facebook_id") == null ) {

                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                        $('#alertDialogText').html("請先登入您的Facebook帳號");
                        $("#dialog_btn").attr("onclick","needLogin()");
                        alertDialog.show();
                    });

                    return;
                }

                var _destination = $('#destination').val();        // 下車地址
                if(_destination.length <= 0) {
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
        
                        $('#alertDialogText').html('請輸入完整下車地址');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                }
                
                var _datepicker = $('#datepicker').val();        // 出發日期
                if(_datepicker.length <= 0) {
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
        
                        $('#alertDialogText').html('請輸入出發日期(僅供30日內預約)');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                }
                
                var phones = $('#phones').val();        // 手機號碼
                var email = $('#email').val();          // 電子信箱
                if(phones.length <= 0 && email.length <= 0) {
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
        
                        $('#alertDialogText').html('請輸入手機號碼或電子信箱');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                }
                if(phones.length > 0) {
                    if(phones[0] != 0 || phones[1] != 9 || phones.length < 10) {
    
                        ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
        
                            $('#alertDialogText').html('手機號碼格式錯誤，請輸入手機號碼(10位數字)');
                            $("#dialog_btn").attr("onclick","closeDialog()");
                            alertDialog.show();
                        });
                        return false;
                    } else {
                        window.localStorage.setItem("phones", phones);
                    }
                }
                if(email.length > 0) {
                    var at = email.search("@");
                    if(at == -1) {
                         ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
        
                            $('#alertDialogText').html('電子信箱格式錯誤，請輸入正確電子信箱');
                            $("#dialog_btn").attr("onclick","closeDialog()");
                            alertDialog.show();
                        });
                        return false;
                    } else {
                        window.localStorage.setItem("email", email);
                    }
                }
                

                var ck_1 = $('input[name=ck_1]:checked');
                //var ck_2 = $('input[name=ck_2]:checked');
                var ck_3 = $('input[name=purpose]:checked');
                //console.log("ck_3("+ck_3.length+")");
                if(ck_3.length <= 0) {
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
    
                        $('#alertDialogText').html('請選擇您本次共乘目的');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                } else if(ck_1.length <= 0) {
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
    
                        $('#alertDialogText').html('請勾選"我同意此次共乘車資，與共乘夥伴依照跳錶金額平均分攤"');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                } /*else if(ck_2.length <= 0) {
                
                   ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
    
                        $('#alertDialogText').html('請勾選"我已詳細閱讀並同意本活動之服務條款及活動說明"');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                }*/
                
                

                var address = $('#address').val();				            // 上車地點
        		var destination = $('#destination').val();		            // 下車地點
        		var startDate = $('#datepicker').val();			            // 出發日期
                //var startTime = $('#timepicker').val();			            // 出發時間
        		//var phones = $('#phones').val();					        // 手機號碼
        		var note = $('#note').val();						        // 備註
        		var purpose = $("input[name='purpose']:checked").val();     // 共乘目的

                if(purpose == "其他") {

                    var purpose_other = $("#purpose_other").val();
                    if(purpose_other != "") {
                        purpose = purpose_other;
                    }
                }

                /*
        		console.log("address("+address+")");
        		console.log("destination("+destination+")");
        		console.log("startDate("+startDate+")");
        		console.log("startTime("+startTime+")");
        		console.log("phones("+phones+")");
        		console.log("note("+note+")");
        		console.log("purpose("+purpose+")");
                */
                $.getJSON('https://maps.googleapis.com/maps/api/geocode/json', {
            		key: 'AIzaSyAHgoUk-vzZfk0CPhkOBNsX5fTyrCKVkh8',
        			address: destination	// 下車地點
        		}, function(data2) {
        			
                    //console.log("won test 1 ==> data2.results.length("+data2.results.length+")");
                    if(data2.results.length <= 0) {

                        ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                            $('#alertDialogText').html("請輸入完整下車地址");
                            $("#dialog_btn").attr("onclick","closeDialog()");
                            alertDialog.show();
                        });
                        return;
                    }
                    
                    //parse address
            		var c, point_of_interest, area = {
        				name: destination,		// 下車地點
                        latitude: "",
                        longitude: ""
        				//latitude: data.results[0].geometry.location.lat,
        				//longitude: data.results[0].geometry.location.lng,
        			};
                    
                    if(data2.results[0]) {

                        area.d_latitude = data2.results[0].geometry.location.lat;
                        area.d_longitude = data2.results[0].geometry.location.lng;
                        //console.log("area.d_latitude("+area.d_latitude+") area.d_longitude("+area.d_longitude+")")
                    }
                    
                 
            		$.getJSON('https://maps.googleapis.com/maps/api/geocode/json', {
            			key: 'AIzaSyAHgoUk-vzZfk0CPhkOBNsX5fTyrCKVkh8',
            			address: address	// 上車地點
            		}, function(data) {
            			
                        //console.log("won test 1 ==> data.results.length("+data.results.length+")");
                        if(data.results.length <= 0) {
    
                            ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
    
                                $('#alertDialogText').html("請輸入完整上車地址");
                                $("#dialog_btn").attr("onclick","closeDialog()");
                                alertDialog.show();
                            });
                            return;
                        }
                        /*
            			//parse address
            			var c, point_of_interest, area = {
            				name: destination,		// 下車地點
                            latitude: "",
                            longitude: ""
            				//latitude: data.results[0].geometry.location.lat,
            				//longitude: data.results[0].geometry.location.lng,
            			};
                        */
                        
                        if(data.results[0]) {
                            area.latitude = data.results[0].geometry.location.lat;
                            area.longitude = data.results[0].geometry.location.lng;
                        }
                        
                        
            			//get address, city and state
            			for (var i = 0; i < data.results[0].address_components.length; i++) {
            				c = data.results[0].address_components[i];
            				if (!c.types.length || c.types[0] == 'point_of_interest') {
            					//record the point of interest in case address is empty
            					point_of_interest = c.short_name;
            				} else if (c.types.indexOf('street_number') !== -1) {
            					//set address as street number
            					area.address = c.long_name;
            				} else if (c.types.indexOf('route') !== -1) {
            					//append street name
            					area.address += ' ' + c.long_name;
            					area.address = area.address.trim();
            				} else if (c.types.indexOf('locality') !== -1) {
            					area.city = c.long_name;
            				} else if (c.types.indexOf('sublocality') !== -1) {
            					if (!area.city) area.city = c.long_name;
            				} else if (c.types.indexOf('administrative_area_level_3') !== -1) {
            					if (!area.city) area.city = c.long_name;
            				} else if (c.types.indexOf('administrative_area_level_1') !== -1) {
            					area.state = c.short_name;
            				} else if (c.types.indexOf('postal_code') !== -1) {
            					area.postal_code = c.short_name;
            				} else if (c.types.indexOf('country') !== -1) {
            					area.country = c.short_name;
            				}
            			}
    
            			// facebook user id
            			area.fb_id = window.localStorage.getItem("facebook_id");
                        area.fb_name = window.localStorage.getItem("facebook_name");
                        area.fb_mail = window.localStorage.getItem("facebook_mail");
                        
            			area.input_address = address;		// 上車地點
            			area.destination = destination;	    // 下車地點
            			area.phones = phones;				// 手機號碼
                        area.email = email;    			    // 電子信箱
            			area.note = note;					// 備註
            			area.purpose = purpose;			    // 共乘目的
    
            			// 建立時間
            			var d = new Date();
            			area.timestamp = d.getTime();
    
                        /*
                        // 時間處理
                        date_txt = startDate.replace(/\//g,"/");
                        //console.log("startDate("+startDate+") startTime("+startTime+")");
    
                        var words = startTime.split(' ');
                        //console.log("words ==>("+words[0]+")("+words[1]+")("+words[2]+")("+words[3]+")");
                        var hours = words[0];
                        var minutes = words[2];
                        var am_pm = words[3];
                        if(am_pm == "PM")   hours = Math.floor(hours) + 12;
                        var start_time_txt = hours+":"+minutes;
                        var time_txt = hours+":"+minutes+":00";
                        var txt = date_txt + " " + time_txt;
                        console.log("txt("+txt+")");
                        
                        // txt(2016/12/16 20:00:00)
                        */
                        //console.log("startDate("+startDate+")");
                        startDate = startDate.replace(/-/g, "/");
                        startDate = startDate.replace(/T/," ");
                        //startDate += ":00";
                        //console.log("startDate("+startDate+")");
                        var d = new Date(startDate);
                        //console.log("d.getTime("+d.getTime()+")("+d.toLocaleDateString()+")");
                        
                        start_time_txt = d.toLocaleTimeString();
                        //console.log("start_time_txt("+start_time_txt+")");
                        //return false;
                        
                        
                        var now_d = new Date();
                        if(now_d.getTime() > d.getTime()) {
                            
                            //console.log("test 1");
                            ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {
        
                                $("#datepicker").css("border-color", "#F00");
                                $("#timepicker").css("border-color", "#F00");
                                $('#alertDialogText').html("出發日期及時間不得小於目前時間，請重新輸入");
                                $("#dialog_btn").attr("onclick","closeDialog()");
                                alertDialog.show();
                            });
                        
                            return false;
                        }
                        //console.log("test 2");
                        
                        // 預約時間
                        area.appointment = d.getTime();
    
                        // 過期時間 = 預約時間 + 10分鐘
                        d.setMinutes(d.getMinutes() + 10);
            			area.expired_time = d.getTime();
                        
                        // 排序用
                        area.priority = 0 - Math.floor( d.getTime() + d.getMilliseconds() + i );
                        //console.log("appointment("+d.toString()+") expired_time("+d.toString()+")");
                        area.status = "";
    
            			if (!area.address && point_of_interest) area.address = point_of_interest;
    
            			//persist to firebase
            			var area_id = firebase.database().ref().child('areas').push().key;
            			var updates = {};
                        console.log(area);
            			updates['/areas/' + area_id] = area;
                        //console.log(updates);
            			firebase.database().ref().update(updates);
    
            			//geofire
            			geoFire.set(area_id, [area.latitude, area.longitude]).then(function() {
            				//console.log(area_id + ': setting position to [' + area.latitude + ',' + area.longitude + ']');
            			});
    
                        var _latlng = area.latitude + "," + area.longitude;
                        window.localStorage.setItem("marker_center", _latlng);
    
                        
                        // fb player 
                        //var fb_player = {name: ""};
                        //fb_player.name = window.localStorage.getItem("facebook_name");
                        //fb_player.enable = true;
                        //fb_player.priority = 0 - Math.floor( d.getTime() + d.getMilliseconds() );        // 排序用
                        //var player_updates = {};
                        //player_updates['/players/' + window.localStorage.getItem("facebook_id")] = fb_player;
                		//firebase.database().ref().update(player_updates);
                        
            			//clean up form
            			$('form#add').trigger('reset');
    
                        ga('send', 'event', '刊登共乘頁', '上車地點', area.state + area.city);
                        ga('send', 'event', '刊登共乘頁', '上車詳細地點', area.input_address);
                        ga('send', 'event', '刊登共乘頁', '下車地點', area.destination);
                        ga('send', 'event', '刊登共乘頁', '出發時間', start_time_txt);
                        ga('send', 'event', '刊登共乘頁', '共乘目的', area.purpose);
     
    
                        var to = area.email;
                		var subject = "刊登成功通知！- go2gether大車隊共乘";
            			var body = area.fb_name + " 小姐/先生<br><br>";
            			body += "感謝您使用go2gether大車隊共乘。<br>";
            			body += "您的刊登需求已經成功上架於網站首頁囉！<br>";
            			body += "<br>";
            			body += "刊登詳情如下：<br>";
            			body += "上車地點："+area.input_address+"<br>";
            			body += "下車地點："+area.destination+"<br />";
            			body += "出發日期："+startDate+"<br>";
            			body += "出發時間："+start_time_txt+"<br>";
            			
            			if(area.note != "")     { body += "備註："+area.note+"<br>";	    }
            			if(area.phones != "")   { body += "手機號碼："+area.phones+"<br>";	}
            			if(area.email != "")    { body += "電子信箱："+area.email+"<br>";	}
            			
            			body += "<br>";
            			body += "當您收到此封系統通知信件後，將可於共乘網站的首頁，找到您的共乘需求圖標（顯示為黃色圖標）。<br>";
            			body += "<br>";
            			body += "在等候夥伴聯繫您的同時，您也可進行以下動作：<br />";
            			body += "1. 資訊確認：回到共乘網站首頁，確認你的刊登資訊是否正確。<br />";
            			body += "2. 夥伴聯繫：隨時注意來自夥伴的 電話/簡訊/email 聯繫訊息。<br />";
            			body += "3. 查詢記錄：點選右上角側邊欄，選擇「刊登紀錄」，查看所有刊登過的需求。<br />";
            			body += "4. 準時出發：當共乘夥伴主動聯繫並約好碰面後，請記得準時到達預定的上車地點。<br />";
            			body += "5. 再次刊登：把下次要共乘的需求，前往完成吧！<br />";
            			body += "   ＊go2gether大車隊共乘：<a href='https://goo.gl/gje0G6'>https://goo.gl/gje0G6</a><br />";
            			body += "6. 提前於手機下載55688APP，讓您出門更加便利！<br />";
            			body += "   ＊下載教學：<a href='http://app.taiwantaxi.com.tw/APPS/Mobile/Intro.aspx'>http://app.taiwantaxi.com.tw/APPS/Mobile/Intro.aspx</a><br />";
            			body += "<br />";
            			body += "<br />";
            			body += "如果您有任何疑問，請隨時聯繫我們。<br />";
            			body += "感謝您使用go2gether大車隊共乘<br />";
            			body += "活動網站：<a href='https://goo.gl/gje0G6'>https://goo.gl/gje0G6</a><br />";
            			body += "官方粉絲團：<a href='https://goo.gl/cVIwMp'>https://goo.gl/cVIwMp</a><br />";
            			body += "<br />";
                        console.log("won test 1");
                        $.post("https://17-vr-live.wonliao.com/go2gether/www/backend/send_mail.php", 
                        	{ 
                    			"to": to,
                    			"subject": subject,
                                "body": body
                    		}
                    	); 
                        console.log("won test 2");
                        // 跳至完成刊登頁
                        homeNavigator.pushPage("page2_success.html", {animation: 'slide'});    
            		});
                });
                
                return false;
            });
        }, 10);
    });

    function stringToDate(_date,_format,_delimiter) {

        var formatLowerCase=_format.toLowerCase();
        var formatItems=formatLowerCase.split(_delimiter);
        var dateItems=_date.split(_delimiter);
        var monthIndex=formatItems.indexOf("mm");
        var dayIndex=formatItems.indexOf("dd");
        var yearIndex=formatItems.indexOf("yyyy");
        var month=parseInt(dateItems[monthIndex]);
        month-=1;
        var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
        return formatedDate;
    }

    function is_fb_player_enable() {

        //console.log("is_fb_player_enable ==> facebook_id("+window.localStorage.getItem("facebook_id")+")");
        var key = window.localStorage.getItem("facebook_id");
        players.child(key).once('value', function(snapshot) {

            if(snapshot.exists() == true) {

                var enable = snapshot.val().enable;
                //var name = snapshot.val().name;
                //console.log("enable("+enable+") name("+name+")");

                if(enable != true) {

                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                        $('#alertDialogText').html("帳號因違反使用者規範，詳細請洽客服");
                        $("#dialog_btn").attr("onclick","reload()");
                        alertDialog.show();
                    });
                }
            }
        });
    }

    function page7_click() {

        homeNavigator.pushPage("page7.html", {animation: 'slide'});
    }

    function page4_click() {

        tabbar.setActiveTab(3);
    }

    function closeDialog() {
        alertDialog.destroy();
    }
    
    function addressClick() {
        
        window.localStorage.setItem("select_map", "address");
        homeNavigator.pushPage("select_map.html", {animation: 'slide'});
    }
    
    function destinationClick() {
        
        window.localStorage.setItem("select_map", "destination");
        homeNavigator.pushPage("select_map.html", {animation: 'slide'});
    }
    
    function showRecord() {
        
        homeNavigator.pushPage("record.html", {animation: 'slide'});
    }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84401162-1', 'auto');
  ga('send', 'pageview', '刊登共乘頁');
</script>