<style>
    .container {
        width: 100%;
    }
    
    .radio_box li  {
        display: block;
        float: left;
        margin-right:10px;
    }

    .radio_box li label {
        margin-left:5px;
    }

    .text-input1 {
        border-radius:0;
        display: block;
        width: calc(100% - 40px);
        float: left;
    }

    .text-input2 {
        border-radius:0;
        display: block;
        width: calc(100% - 90px);
        float: left;
    }

    .text-input {
        border-radius:0;
        display: block;
        width: 100%;
    }

    .submit_btn {
        background-color: rgba(24,103,194,0.81);
        border: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        padding: 4px 12px;
        display: block;
        width: 100%;
        text-align: center;
        color: #FFF;
    }
    .wickedpicker{
        position: absolute !important;
        left: 0 !important;
        right: 0 !important;
    }

    .marker {
        height: 30px;
        width: 20px;
        margin: 0 10px;
        float: left;
    }

    .right_btn {
        height: 30px;
        line-height: 23px;
        width: 83px;
        margin: 0;
        float: right;
        position: relative;
    }

    input[type="text"] {
        border: #aaa 1px solid;
    }

    .sw-center {
        text-align:center;
    }
    
    .bottom_btn {
        position: absolute;
        bottom: 5%;
        width: 100%;
        left: 0;
    }

    .change_btn {
        height: 40px;
        width: 30px;
        background: url(images/switch.png);
        background-size: cover;
        position: absolute;
        right: 3px;
        z-index: 99999;
        border: 0;
        margin: 15px 10px 0 0;
        outline: none;
    }
    
    .note_div {
        border-radius: 10px;
        background: #FFF5DD;
        padding: 20px 10px;
    }
    .text1 {
        color:#5F5F5F;
        font-size:20px;
    }
    .text2 {
        color:#888;
        font-size:12px;
    }
    .note_span1 {
        display: inline-block;
        width: 60px;
        line-height: 60px;
        vertical-align: top;
    }
    .note_span1 img {
        width: 60px !important;
    }
    .note_span2 {
        padding-left: 10px;
        display: inline-block;
        width: calc(100% - 65px);
        vertical-align:middle;
    }
    
    
    /*
    input[type="text"]:valid { outline: solid #ddd 1px; }
    input[type="text"]:invalid { outline: solid red 1px; }
    */
</style>


<ons-navigator title="Navigator" var="homeNavigator">
    <ons-page style="background:#fff;">

        <ons-toolbar fixed-style>
            <div class="center">
                <img src="images/go2gether.png" style="height:32px;"/>
            </div>
            <div class="right" style="line-height:44px;">
                <ons-toolbar-button ng-click="menu.toggleMenu()">
                    <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
      
        <div style="clear:both; height:10px"></div>

        <div class="container">
            <ul class="nav nav-tabs">
                <li id="airport_tab" style="width:50%;"><a id="airport_btn" data-toggle="tab" href="#airport">機場共乘</a></li>
                <li id="normal_tab" class="active" style="width:50%;"><a id="normal_btn" data-toggle="tab" href="#normal">一般共乘</a></li>
            </ul>
        
            <div class="tab-content">
            
                <!-- 機場共乘 begin -->
                <div id="airport" class="tab-pane fade">
                   
                        <section style="padding: 8px 16px 4px 16px">
                            <div style="text-align:center;">地點/時間</div>
                        </section>

                        <section style="padding: 4px 16px; height: 38px;">
                            <input id="new_airport_address" placeholder="請輸入上車地址" onClick="airportAddressClick()" type="text" class="text-input2" ng-model="address" required>
                            <input id="new_airport_address_btn" value="上車記錄" onClick="airportAddressRecordClick()" type="button" class="btn btn-default submit_btn right_btn" data-flag="0">
                            <button class="change_btn" onClick="changeAddres('airport')"></button>
                        </section>

                        <section style="padding: 4px 16px; height: 38px;">
                            <input id="new_airport_destination" value="桃園機場第一航廈" onclick="openAirportSlot()" type="text" class="text-input2" ng-model="destination" unselectable="on" onselectstart="return false;" onmousedown="return false;" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; cursor:pointer;" required>
                            <input id="new_airport_destination_btn" value="變更機場" onclick="openAirportSlot()" type="button" class="btn btn-default submit_btn right_btn">
                        </section>

                        <section style="padding: 4px 16px;">
                            <input id="new_datepicker2" type="datetime-local" style="width:100%">
                        </section>

                        <section style="padding: 4px 16px;">
                            <div class="note_div">
                                    <span class="note_span1">
                                        <img src="images/remind.png"/>
                                    </span>
                                    <span class="note_span2">
                                        <div class="text1">找共乘不等於叫車!<br />
                                        <div class="text2">僅為揪共乘夥伴。出發前記得使用55688APP進行叫車喔~</div>
                                    </span>
                                </ul>
                            </div>
                        </section>

                        <section style="padding: 4px 16px" class="radio_box bottom_btn">
                            <input id="page2_aiport_form" type="button" value="搜尋" class="btn btn-default submit_btn">
                        </section>
                    
                </div>
                <!-- 機場共乘 end -->


                <!-- 一般共乘 begin -->
                <div id="normal" class="tab-pane fade active in">

                        <section style="padding: 8px 16px 4px 16px">
                            <div>設定共乘條件</div>
                        </section>

                        <section style="padding: 4px 16px; height: 38px;">
                            <input id="new_address" placeholder="請定位上車地址" onClick="addressClick()"  type="text" ng-model="new_address" class="text-input2" required>
                            <input id="new_address_btn" value="上車記錄" onClick="addressRecordClick()" type="button" class="btn btn-default submit_btn right_btn" data-flag="0">
                            <button class="change_btn" onClick="changeAddres('normal')"></button>
                        </section>
                        
                        <section style="padding: 4px 16px; height: 38px;">
                            <input id="new_destination" placeholder="請定位下車地址" onClick="destinationClick()" type="text" ng-model="new_destination" class="text-input2" required>
                            <input id="new_destination_btn" value="下車記錄" onClick="destinationRecordClick()" type="button" class="btn btn-default submit_btn right_btn">
                        </section>



                        <section style="padding: 4px 16px;">
                            <input id="new_datepicker" type="datetime-local" style="width:100%">
                        </section>

                        <section style="padding: 4px 16px;">
                            <div class="note_div">
                                    <span class="note_span1">
                                        <img src="images/remind.png"/>
                                    </span>
                                    <span class="note_span2">
                                        <div class="text1">找共乘不等於叫車!<br />
                                        <div class="text2">僅為揪共乘夥伴。出發前記得使用55688APP進行叫車喔~</div>
                                    </span>
                                </ul>
                            </div>
                        </section>

                        <section style="padding: 4px 16px" class="radio_box bottom_btn">                
                            <input id="page2_form" type="button" value="搜尋" class="btn btn-default submit_btn">
                        </section>
            	
                </div>
                <!-- 一般共乘 end -->

            </div>
        </div>
    </ons-page>
</ons-navigator>

<script>


    ons.ready(function() {

        setTimeout(function() {

            //window.localStorage.setItem("facebook_id", "1389354124412945");
            //window.localStorage.setItem("facebook_name", "廖志旺");
        
            hideFloatIcon();
            
            document.addEventListener('focusout', function(e) {window.scrollTo(0, 0)});

            $("#new_airport_destination").val("桃園機場第一航廈");

            // 檢查 facebook 是否已登入
            if(window.localStorage.getItem("facebook_id") == "" || window.localStorage.getItem("facebook_id") == null ) {

                ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                    $('#alertDialogTitle').html("提示");
                    $('#alertDialogText').html("請先登入您的Facebook帳號");
                    $(".alert-dialog-button").attr("onclick","needLogin()");
                    alertDialog.show();
                });

                return;
            }

            // 檢查是否被禁止刊登
            is_fb_player_enable();
            
            // 自動代入現在時間
            var now = new Date();
            var hours = (now.getHours()<10?'0':'') + now.getHours();
            var minutes = (now.getMinutes()<10?'0':'') + now.getMinutes();
            var _m = Math.floor(now.getMonth() + 1);
            _m = (_m<10?'0':'') + _m;
            var _d = (now.getDate()<10?'0':'') + now.getDate();
            var today = now.getFullYear() + '-' + _m + '-' + _d + 'T' +  hours + ':' + minutes + ":00";
            $('#new_datepicker').val(today);
            $('#new_datepicker2').val(today);

            if(window.localStorage.getItem("f1") != null && window.localStorage.getItem("f1") != "") {

                var f1 = window.localStorage.getItem("f1");
                var f2 = window.localStorage.getItem("f2");
                var f3 = window.localStorage.getItem("f3");
                var f4 = window.localStorage.getItem("f4");
                window.localStorage.setItem("f1", "");
                window.localStorage.setItem("f2", "");
                window.localStorage.setItem("f3", "");
                window.localStorage.setItem("f4", "");
                //console.log("won test f1 =>" + f1);
                //console.log("won test f2 =>" + f2);
                //console.log("won test f3 =>" + f3);
                //console.log("won test f4 =>" + f4);

                // 自動代入下車地點
                if(f1 != null && f1 != "null" && f1 != "") {

                    $('#new_destination').val(f1);//.focus();
                }

                // 自動代入備註
                if(f3 != null && f3 != "") {
    
                    $('#note').val(f3);//.focus();
                }

                // 自動代入共乘目的
                if(f4 != null && f4 != "") {
                    /*
                    if(f4 =="球賽共乘") {
                        $("#purpose_games_radiio").prop("checked", true)
                    } else {
                        $("#purpose_other_radiio").prop("checked", true)
                        $('#purpose_other').val(f4).focus();
                    }
                    */
                    
                    if(f4 =="機場共乘") {

                        $("#normal_tab").removeClass("active");
                        $("#airport_tab").addClass("active");

                        $("#normal").removeClass("active").removeClass("in");
                        $("#airport").addClass("active").addClass("in");
                    }
                }            

                // 自動代入共乘時間
                if(f2 != null && f2 != "") {

                    var yyyy = f2.substring(0,4);
                    var MM = f2.substring(4,6);
                    var dd = f2.substring(6,8);
                    var hh = f2.substring(8,10);
                    var mm = f2.substring(10,12);
                    var now = new Date(yyyy,MM,dd,hh,mm,00);

                    var hours = (now.getHours()<10?'0':'') + now.getHours();
                    var minutes = (now.getMinutes()<10?'0':'') + now.getMinutes();
                    var _m = (now.getMonth()<10?'0':'') + now.getMonth();
                    var _d = (now.getDate()<10?'0':'') + now.getDate();
                    var today = now.getFullYear() + '-' + _m + '-' + _d + 'T' +  hours + ':' + minutes + ":00";
                    $('#new_datepicker').val(today);
                    $('#new_datepicker2').val(today);
                }
            }

            // 自動代入 phones
            var my_phones = window.localStorage.getItem("phones");
            if(my_phones != null && my_phones != "") {
                $('#phones').val(my_phones);//.focus();
            }

            // 自動代入 email
            var my_email = window.localStorage.getItem("email");
            if(my_email != null && my_email != "") {
                $('#email').val(my_email);//.focus();
            }

            var latlng = window.localStorage.getItem("center");
            // 依經緯度查地址
            $.getJSON('https://maps.googleapis.com/maps/api/geocode/json', {
            		key: 'AIzaSyAHgoUk-vzZfk0CPhkOBNsX5fTyrCKVkh8',
        			latlng: latlng,
                    location_type: "ROOFTOP",
                    result_type: "street_address"
        		}, function(data) {

                    if(data.status != "ZERO_RESULTS") {
                        var formatted_address = data.results[0].formatted_address;
                        $("#new_address").val(formatted_address);//.focus();
                        $("#new_airport_address").val(formatted_address);//.focus();
                    }
        		}
            );

            $('#ck_1_span').click(function() {

                var ck_1 = $('input[name=ck_1]:checked');
                if(ck_1.length > 0)     $('input[name=ck_1]').prop("checked", false);
                else                    $('input[name=ck_1]').prop("checked", true);
            });

            $('#page2_form').on('click', function() {

                var _address = $('#new_address').val();             // 上車地址
                var _destination = $('#new_destination').val();     // 下車地址
                var _time = $('#new_datepicker').val();             // 時間
                
                page2Submit(_address, _destination, _time);
            });
            
            $('#page2_aiport_form').on('click', function() {

                var _address = $('#new_airport_address').val();             // 上車地址
                var _destination = $('#new_airport_destination').val();     // 下車地址
                var _time = $('#new_datepicker2').val();                    // 時間
                
                page2Submit(_address, _destination, _time);
            });
            
            function page2Submit(_address, _destination, _time) {
                
                if(window.localStorage.getItem("facebook_id") == "" || window.localStorage.getItem("facebook_id") == null ) {

                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                        $('#alertDialogTitle').html("提示");
                        $('#alertDialogText').html("請先登入您的Facebook帳號");
                        $("#dialog_btn").attr("onclick","needLogin()");
                        alertDialog.show();
                    });

                    return;
                }
                
                if(_address.length <= 0 || _destination.length <= 0) {
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                        $('#alertDialogTitle').html("資訊不完整");
                        $('#alertDialogText').html('請輸入完整上下車地址');
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });
                    return false;
                }

                var startDate = _time;
                startDate = startDate.replace(/-/g, "/");
                startDate = startDate.replace(/T/," ");
                var d = new Date(startDate);
                var now_d = new Date();
                if(now_d.getTime() > d.getTime()) {
    
                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                        $('#alertDialogTitle').html("資訊不完整");
                        $('#alertDialogText').html("出發日期及時間不得小於目前時間，請重新輸入");
                        $("#dialog_btn").attr("onclick","closeDialog()");
                        alertDialog.show();
                    });

                    return false;
                }

                if ( $('#normal_tab').hasClass('active') ) {
                    window.localStorage.setItem("tab_active", "normal_tab");
                } else {
                    window.localStorage.setItem("tab_active", "airport_tab");
                }

                window.localStorage.setItem("page2_time", _time);   // 上車時間
                window.localStorage.setItem("page2_address", _address);
                window.localStorage.setItem("page2_destination", _destination);
                homeNavigator.pushPage("page2_list.html", {animation: 'slide'});
            }
        }, 10);
    });

    function stringToDate(_date,_format,_delimiter) {

        var formatLowerCase=_format.toLowerCase();
        var formatItems=formatLowerCase.split(_delimiter);
        var dateItems=_date.split(_delimiter);
        var monthIndex=formatItems.indexOf("mm");
        var dayIndex=formatItems.indexOf("dd");
        var yearIndex=formatItems.indexOf("yyyy");
        var month=parseInt(dateItems[monthIndex]);
        month-=1;
        var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
        return formatedDate;
    }

    function is_fb_player_enable() {

        var key = window.localStorage.getItem("facebook_id");
        players.child(key).once('value', function(snapshot) {

            if(snapshot.exists() == true) {

                var enable = snapshot.val().enable;
                if(enable != true) {

                    ons.createAlertDialog('alert-dialog.html').then(function(alertDialog) {

                        $('#alertDialogTitle').html("提示");
                        $('#alertDialogText').html("帳號因違反使用者規範，詳細請洽客服");
                        $("#dialog_btn").attr("onclick","reload()");
                        alertDialog.show();
                    });
                }
            }
        });
    }

    function page7_click() {

        homeNavigator.pushPage("page7.html", {animation: 'slide'});
    }

    function page4_click() {

        tabbar.setActiveTab(3);
    }

    function closeDialog() {
        alertDialog.destroy();
    }
    
    function addressClick() {
        
        console.log("addressClick");
        
        window.localStorage.setItem("select_map", "address");
        homeNavigator.pushPage("select_map.html", {animation: 'slide'});
    }
    
    function destinationClick() {
        
        console.log("destinationClick");
        
        window.localStorage.setItem("select_map", "destination");
        homeNavigator.pushPage("select_map.html", {animation: 'slide'});
    }
    
    function airportAddressClick() {
        
        console.log("airport addressClick");
        
        window.localStorage.setItem("select_map", "airport_address");
        homeNavigator.pushPage("select_map.html", {animation: 'slide'});
    }
    
    function addressRecordClick() {
        
        console.log("won test ==> addressRecordClick");
        
        window.localStorage.setItem("select_map", "address");
        homeNavigator.pushPage("page2_record.html", {animation: 'slide'});
    }
    
    function airportAddressRecordClick() {
        
        console.log("won test ==> airportAddressRecordClick");
        
        window.localStorage.setItem("select_map", "airport_address");
        homeNavigator.pushPage("page2_record.html", {animation: 'slide'});
    }
    
    function destinationRecordClick() {
        
        console.log("won test ==> destinationRecordClick");
        
        window.localStorage.setItem("select_map", "destination");
        homeNavigator.pushPage("page2_record.html", {animation: 'slide'});
    }
    
    function showRecord() {
        
        homeNavigator.pushPage("record.html", {animation: 'slide'});
    }

    // 機場共乘
    function openAirportSlot() {

        var airports = {};
        airports[0] = "桃園機場第一航廈";
        airports[1] = "桃園機場第二航廈";
        airports[2] = "臺北松山機場";
        airports[3] = "臺中清泉崗機場";
        airports[4] = "臺南機場";
        airports[5] = "高雄小港機場";
        airports[6] = "花蓮機場";

        if(SpinningWheel.isExist())	SpinningWheel.destroy();
        SpinningWheel.addSlot(airports, 'center', 1);
        SpinningWheel.setCancelAction(cancel);
        SpinningWheel.setDoneAction(airportDone);
        SpinningWheel.open();
    }

    function cancel() {
        console.log("SpinningWheel Cancel")
    }

    function airportDone() {

        var results = SpinningWheel.getSelectedValues();
        console.log("SpinningWheel results(" + results.values.join(':') + ")");

        $("#new_airport_destination").val(results.values.join(':'));
    }

    function changeAddres(type) {

        if(type == "normal") {

            var new_address = $("#new_address").val();
            var new_destination = $("#new_destination").val();
            $("#new_address").val(new_destination);
            $("#new_destination").val(new_address);

            var flag = 1 - Math.floor($("#new_address_btn").attr("data-flag"));
            $("#new_address_btn").attr("data-flag", flag);
            var y1 = Math.floor(flag * 38) + "px";
            var y2 = Math.floor(flag * -38) + "px";
            $("#new_address_btn").css("top", y1);
            $("#new_destination_btn").css("top", y2);
        } else {

            var new_airport_address = $("#new_airport_address").val();
            var new_airport_destination = $("#new_airport_destination").val();
            $("#new_airport_address").val(new_airport_destination);
            $("#new_airport_destination").val(new_airport_address);

            var flag = 1 - Math.floor($("#new_airport_address_btn").attr("data-flag"));
            $("#new_airport_address_btn").attr("data-flag", flag);
            var y1 = Math.floor(flag * 38) + "px";
            var y2 = Math.floor(flag * -38) + "px";
            $("#new_airport_address_btn").css("top", y1);
            $("#new_airport_destination_btn").css("top", y2);
        }
    }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84401162-1', 'auto');
  ga('send', 'pageview', '刊登共乘頁-設定上下車');
</script>